@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-gray-800;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.container {
  background-color: #ffffff; /* Light mode background */
  color: #000000; /* Light mode text color */
}

.container.dark {
  background-color: #1a202c; /* Dark mode background */
  color: #ffffff; /* Dark mode text color */
}

.text-primary {
  color: #007bff; /* Primary color for light mode */
}

.dark .text-primary {
  color: #63b3ed; /* Adjusted primary color for dark mode */
}


/* masonry effect */
@media (min-width: 640px) {
  .masonry {
    column-count: 3; /* Number of columns */
    column-gap: 1rem; /* Spacing between columns */
  }
  .masonry img {
    break-inside: avoid; /* Prevent images from breaking between columns */
    margin-bottom: 1rem; /* Spacing between items */
  }
}

@media (min-width: 768px) {
  .masonry {
    column-count: 4; /* Increase columns on medium screens */
  }
}

@media (min-width: 1024px) {
  .masonry {
    column-count: 5; /* Increase columns on large screens */
  }
}